# PostgreSQL connection string
# Local Postgres (requires PostgreSQL installed and run docker-compose up --build command to create tesla_energy database)
DATABASE_URL=postgres://postgres:password@localhost:5432/tesla_energy

# Port for the API server
PORT=3001

# Frontend URL
# Local dev:   http://localhost:8000
ALLOWED_ORIGINS=http://localhost:8000
